main {
  max-width: 800px;
  margin-inline: auto;
}

.progress {
  height: 50px;
  width: 100%;
  background-color: black;

  & .progress-bar {
    height: 100%;

    display: flex;
    flex-direction: row;

    & h3 {
      margin: auto;
    }
  }
}
