body {
    background-color: grey;
}

main {
    max-width: 1000px;
    margin-inline: auto;
    background-color: white;
    border-radius: 40px;
    border: 1px solid black;
}

.header-container-styling {
    height: 15vh;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    background-color: paleturquoise;
    border-radius: 40px 40px 0 0;
    border-bottom: 1px solid black;

    & label {
        align-self: center;
        font-size: 1.25rem;

        & select {
            margin-left: 8px;
            padding: 8px 16px;
            border-radius: 8px;
        }
    }

    & .header {
        font-size: 4rem;
    }
}

.content {
    height: 40vh;
    padding: 1rem;
}

.footer-container-styling {
    height: 15vh;
    padding: 1rem 2rem;
    background-color: palevioletred;
    border-radius: 0 0 40px 40px;
    border-top: 1px solid black;

    & .footer {
        font-size: 2.5rem;
    }
}